$color-light-xl: #FFFFFF;
$color-light-l: #F6F6F6;
$color-light-s: #FAFAFA;

$color-dark-3xl: #292929;
$color-dark-2xl: #444444;
$color-dark-xl: #4C4C4C;
$color-dark-l: #545454;
$color-dark-m: #B2B2B2;
$color-dark-s: #CDCDCD;

$start-screen-gradient: radial-gradient(100% 215.42% at 0% 0%, #5B483A 0%, #262425 100%), #211F20;
$footer-gradient: radial-gradient(110.67% 538.64% at 5.73% 50%, #513D2F 0%, #1A1A1C 100%), #211F20;

$color-primary: #F1CDB3;
$color-primary-light: hsla(25, 93%, 88%, 1);

$blackout: rgba(41, 41, 41, 0.6);

$desktop-width: 1280px;
$desktop-s-width: 1024px;
$tablet-width: 768px;
$mobile-l-width: 425px;