.about {
  
  background-color: $color-light-xl;
  &__wrapper {
    padding: 80px 0 100px;
    gap: 120px;
  }

  &__content {
    max-width: 430px;

    h3 {
      max-width: 370px;
      color: $color-dark-l;
    }

    .text-l {
      margin-top: 24px;
      color: $color-dark-xl;
    }
  }
}