.footer {
  background: url(../assets/images/noise_lines_transparent@2X.png), $footer-gradient;

  h3 {
    color: $color-light-xl;
    margin-bottom: 6px;
  }

  h4 {
    color: $color-primary;
    position: relative;
    min-height: 46px;
    display: flex;
    align-items: center;
    @extend %transition;
    @media (hover: hover) {
      &:hover {
        cursor: pointer;
        color: $color-light-l;
      }
    }

    &:active {
      color: $color-light-l;
    }

  }

  a {
    position: relative;

  }

  &__content {
    padding: 40px 0 0;

    @include media-tablet {
      padding: 30px 0 0;
      flex-wrap: wrap;
      justify-content: center;
    }

    @include media-tablet-m {
      gap: 32px;
    }
  }

  &__item {
    margin: 17px 0 0 0;
    min-width: 300px;
    flex-basis: 300px;
    height: 241px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    @include media-tablet {
      min-width: 200px;
      margin: 0 40px 0 20px;
    }

    @include media-mobile {
      margin: 0 0 0 0;
      align-items: center;

      h3 {
        max-width: 250px;
        text-align: center;
      }
    }
  }

  img {
    min-width: 0;
    min-height: 0;
    flex-shrink: 1;
    align-self: flex-end;

    @include media-tablet {
      margin-top: 58px;
    }

    @include media-mobile {
      width: 87%;
      margin-top: 0;
    }
  }

  &__contacts {
    @include media-tablet {
      flex-basis: 280px;
    }

    @include media-mobile {
      flex-basis: 250px;
      height: 215px;
    }
  }

  &__adr {
    padding-left: 40px;

    &::before {
      content: url(../assets/icons/icon-marker.svg);
      display: block;
      width: 22px;
      height: 32px;
      position: absolute;
      left: -1px;
      top: 6px;
    }

    @include media-mobile {
      width: 86%;
    }
  }

  &__mail {
    padding-left: 60px;

    &::before {
      content: url(../assets/icons/icon-email.svg);
      display: block;
      width: 22px;
      height: 32px;
      position: absolute;
      left: 0px;
      top: 6px;
    }
  }

  &__tel {
    padding-left: 60px;

    &::before {
      content: url(../assets/icons/icon-phone.svg);
      display: block;
      width: 22px;
      height: 32px;
      position: absolute;
      left: 0px;
      top: 6px;
    }
  }

  &__locations {
    margin-right: 21px;

    @include media-tablet-m {
      margin-right: 50px;
    }

    @include media-mobile {
      margin-right: 0;
      height: 230px;
    }
  }
}