.header {
  position: absolute;
  width: 1200px;
  max-width: 1200px;
  left: calc((100vw - $desktop-width + 60px) /2);
  top: 60px;
  display: flex;
  justify-content: flex-end;
  align-items: center;

  .nav {
    margin-left: auto;

    &__list {
      padding: 0;
      list-style: none;
      display: flex;
      gap: 35px;
    }

    &__item {
      border-bottom: 3px solid transparent;

      &_active {
        border-bottom: 3px solid $color-primary;
      }
    }

    &__link {
      text-decoration: none;
    }
  }
}