.help {
  color: $color-dark-l;
  background-color: $color-light-xl;
  h3 {
    max-width: 310px;
    text-align: center;
  }

  &__wrapper {
    padding: 81px 0 100px;
    gap: 58px;
  }

  &-cards {
    gap: 120px;
    row-gap: 55px;
  }

  &-card {
    gap: 30px;
  }
}