.hero {

  &__wrapper {
    margin-top: 60px;
    gap: 41px;
    flex-wrap: wrap;
  }

  &__content {
    max-width: 460px;
    margin-bottom: 81px;
    color: $color-light-xl;

    .text-l {
      margin: 42px 0;
    }
  }
}