.layout-2-rows {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.layout-rows {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
}