.pets {
  background-color: $color-light-l;

  h3 {
    color: $color-dark-l;
    text-align: center;
  }

  &__wrapper {
    padding: 80px 0 100px;
    gap: 59px;

    .btn {
      margin-top: 1px;
    }
  }

  &__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 53px;
  }

}

.pets-card {
  gap: 31px;
  color: $color-dark-l;
  background-color: $color-light-s;
  padding-bottom: 30px;
  border-radius: 9px 9px 0 0;
  &__img {
    border-radius: 9px 9px 0 0;
  }
}

.pets-cards__wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 90px;
}