.btn, h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Georgia", "Times New Roman", Times, serif;
}

.subtitle,
.text-l,
.text-s,
.text-mobile-menu,
.text-italic {
  font-family: "Arial", Helvetica, sans-serif;
}

.donation__card, .pets-cards__wrapper, .pets-card, .pets__content, .card, .btn, .burger_active, .burger, a {
  transition: all 0.5s ease-in-out;
}

@font-face {
  font-family: "Arial";
  src: url(/SHELTER/assets/fonts/ArialMT.woff) format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Arial";
  src: url(/SHELTER/assets/fonts/ArialMT.woff2) format("woff2");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Arial";
  src: url(/SHELTER/assets/fonts/Arial-ItalicMT.woff) format("woff");
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: "Arial";
  src: url(/SHELTER/assets/fonts/Arial-ItalicMT.woff2) format("woff2");
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: "Georgia";
  src: url(/SHELTER/assets/fonts/Georgia.woff) format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Georgia";
  src: url(/SHELTER/assets/fonts/Georgia.woff2) format("woff2");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Georgia";
  src: url(/SHELTER/assets/fonts/Georgia-Bold.woff) format("woff");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Georgia";
  src: url(/SHELTER/assets/fonts/Georgia-Bold.woff2) format("woff2");
  font-weight: 700;
  font-style: normal;
}
html {
  font-size: 10px;
  scroll-behavior: smooth;
}

.body_hidden {
  height: 100%;
  overflow: hidden;
}

a {
  text-decoration: none;
}

h1 {
  font-size: 3.2rem;
  font-style: normal;
  font-weight: 400;
  line-height: 110%;
  letter-spacing: 0.06em;
}

.subtitle {
  font-size: 1.3rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5rem;
}

h2 {
  font-size: 4.4rem;
  font-style: normal;
  font-weight: 400;
  line-height: 130%;
}
@media (max-width: 425px) {
  h2 {
    font-size: 2.5rem;
    font-style: normal;
    font-weight: 400;
    line-height: 129%;
    letter-spacing: 0.06em;
  }
}

h3 {
  font-size: 3.5rem;
  font-style: normal;
  font-weight: 400;
  line-height: 130%;
  letter-spacing: 0.06em;
}
@media (max-width: 425px) {
  h3 {
    font-size: 2.5rem;
    font-style: normal;
    font-weight: 400;
    line-height: 130%;
  }
}

h4 {
  font-size: 2rem;
  font-style: normal;
  font-weight: 400;
  line-height: 115%;
  letter-spacing: 0.06em;
}

h5 {
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 400;
  line-height: 110%;
  letter-spacing: 0.06em;
}

h6 {
  font-size: 2rem;
  font-style: normal;
  font-weight: 400;
  line-height: 100%;
  letter-spacing: 0.06em;
}

.text-l {
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 400;
  line-height: 160%;
}

.text-s {
  font-size: 1.2rem;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}

.text-mobile-menu {
  font-size: 3.2rem;
  font-style: normal;
  font-weight: 400;
  line-height: 160%;
}

.text-italic {
  font-size: 1.2rem;
  font-style: italic;
  font-weight: 400;
  line-height: 1.8rem;
}

.btn {
  font-size: 1.7rem;
  font-style: normal;
  font-weight: 400;
  line-height: 130%;
  letter-spacing: 0.06em;
}

* {
  margin: 0;
  padding: 0;
}

.wrapper {
  max-width: 1200px;
  width: calc(100vw - 60px);
  margin: 0 auto;
}
@media (max-width: 768px) {
  .wrapper {
    max-width: 708px;
  }
}
@media (max-width: 425px) {
  .wrapper {
    width: calc(100vw - 20px);
    max-width: 415px;
  }
}

.layout-2-columns {
  display: flex;
  justify-content: center;
  align-items: center;
}

.layout-column {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.layout-2-rows {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.layout-rows {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
}

.header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 30px 0;
}
.header a {
  margin-right: auto;
}
@media (max-width: 425px) {
  .header {
    width: 88%;
  }
}
.header .nav__list {
  padding: 0 0 4px;
  list-style: none;
  display: flex;
  gap: 36px;
}
.header .nav__link {
  padding: 0 0 4px;
  border-bottom: 3px solid transparent;
}
.header .nav__link_active {
  pointer-events: none;
  border-bottom: 3px solid #F1CDB3;
}
.header .nav__link:active {
  border-bottom: 3px solid #F1CDB3;
}
.header .nav_hidden {
  overflow-y: hidden;
}
@media (max-width: 738px) {
  .header .nav {
    position: fixed;
    z-index: 2;
    height: 100vh;
    width: 320px;
    top: 0;
    right: 0;
    transform: translateX(100vw);
    background-color: #292929;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 0.5s;
  }
  .header .nav > .nav__list {
    flex-direction: column;
    align-items: center;
  }
  .header .nav > .nav__list > .nav__item {
    font-size: 3.2rem;
    font-style: normal;
    font-weight: 400;
    line-height: 160%;
  }
  .header .nav_active {
    transform: translateX(0);
  }
  .header .nav_active ~ .burger {
    position: relative;
  }
}

.logo-link_active {
  position: relative;
  z-index: 3;
  transform: translateX(calc(100vw - 320px + 10px));
}

.burger {
  display: none;
  z-index: 2;
}
.burger_active {
  transform: rotate(90deg);
}
@media (max-width: 738px) {
  .burger {
    display: block;
  }
}
.burger__btn {
  width: 30px;
  height: 22px;
  border: none;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.burger__line {
  display: inline-block;
  background-color: #F1CDB3;
  width: 100%;
  height: 2px;
}
.burger__bg {
  content: "";
  display: none;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 1;
  width: 100vw;
  height: 100vh;
  transform: translateX(100vw);
  background-color: rgba(41, 41, 41, 0.6);
  transition: transform 0.4s;
}
@media (max-width: 738px) {
  .burger__bg {
    display: block;
  }
}
.burger_active ~ .burger__bg {
  transform: translateX(0);
}

.footer {
  background: url(/SHELTER/assets/images/noise_lines_transparent@2X.png), radial-gradient(110.67% 538.64% at 5.73% 50%, #513D2F 0%, #1A1A1C 100%), #211F20;
}
.footer h3 {
  color: #FFFFFF;
  margin-bottom: 6px;
}
.footer h4 {
  color: #F1CDB3;
  position: relative;
  min-height: 46px;
  display: flex;
  align-items: center;
}
.footer a {
  position: relative;
}
.footer__content {
  padding: 40px 0 0;
}
@media (max-width: 768px) {
  .footer__content {
    padding: 30px 0 0;
    flex-wrap: wrap;
    justify-content: center;
  }
}
@media (max-width: 738px) {
  .footer__content {
    gap: 32px;
  }
}
.footer__item {
  margin: 17px 0 0 0;
  min-width: 300px;
  flex-basis: 300px;
  height: 241px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
@media (max-width: 768px) {
  .footer__item {
    min-width: 200px;
    margin: 0 40px 0 20px;
  }
}
@media (max-width: 425px) {
  .footer__item {
    margin: 0 0 0 0;
    align-items: center;
  }
  .footer__item h3 {
    max-width: 250px;
    text-align: center;
  }
}
.footer__item h4:hover {
  color: hsl(25, 93%, 88%);
}
.footer img {
  min-width: 0;
  min-height: 0;
  flex-shrink: 1;
  align-self: flex-end;
}
@media (max-width: 768px) {
  .footer img {
    margin-top: 58px;
  }
}
@media (max-width: 425px) {
  .footer img {
    width: 87%;
    margin-top: 0;
  }
}
@media (max-width: 768px) {
  .footer__contacts {
    flex-basis: 280px;
  }
}
@media (max-width: 425px) {
  .footer__contacts {
    flex-basis: 250px;
    height: 215px;
  }
}
.footer__adr {
  padding-left: 40px;
}
.footer__adr::before {
  content: url(/SHELTER/assets/icons/icon-marker.svg);
  display: block;
  width: 22px;
  height: 32px;
  position: absolute;
  left: -1px;
  top: 6px;
}
@media (max-width: 425px) {
  .footer__adr {
    width: 86%;
  }
}
.footer__mail {
  padding-left: 60px;
}
.footer__mail::before {
  content: url(/SHELTER/assets/icons/icon-email.svg);
  display: block;
  width: 22px;
  height: 32px;
  position: absolute;
  left: 0px;
  top: 6px;
}
.footer__tel {
  padding-left: 60px;
}
.footer__tel::before {
  content: url(/SHELTER/assets/icons/icon-phone.svg);
  display: block;
  width: 22px;
  height: 32px;
  position: absolute;
  left: 0px;
  top: 6px;
}
.footer__locations {
  margin-right: 21px;
}
@media (max-width: 738px) {
  .footer__locations {
    margin-right: 50px;
  }
}
@media (max-width: 425px) {
  .footer__locations {
    margin-right: 0;
    height: 230px;
  }
}

.logo {
  width: 186px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
.logo h1 {
  margin: 0;
}
.logo p {
  margin: 0;
  letter-spacing: 0.1em;
}

.btn {
  box-sizing: border-box;
  border: 2px solid #F1CDB3;
  color: #444444;
  background-color: transparent;
}
.btn:hover {
  cursor: pointer;
  border: 2px solid hsl(25, 93%, 88%);
}
.btn-round {
  width: 52px;
  height: 52px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
}
.btn-round:hover {
  background-color: hsl(25, 93%, 88%);
}
.btn-round_inactive {
  pointer-events: none;
  color: #CDCDCD;
  border: 2px solid #CDCDCD;
}
.btn-round_right {
  transform: rotate(180deg);
}
.btn-round__arrow {
  padding: 23px 19px;
  width: 14px;
  height: 6px;
}
.btn-rounded {
  padding: 13px 43px;
  border-radius: 100px;
}
.btn-rounded_colored {
  background-color: #F1CDB3;
}
.btn-rounded_colored:hover {
  background-color: hsl(25, 93%, 88%);
}

.card {
  gap: 31px;
  color: #545454;
  background-color: #FAFAFA;
  padding-bottom: 30px;
  border-radius: 9px;
}
.card:hover {
  cursor: pointer;
  background-color: #F6F6F6;
  box-shadow: 5px 5px 20px 10px rgba(13, 13, 13, 0.04);
}
.card:hover > .btn {
  border: 2px solid hsl(25, 93%, 88%);
  background-color: hsl(25, 93%, 88%);
}
.card > .btn {
  margin-top: 1px;
}
.card__img {
  border-radius: 9px 9px 0 0;
}

.hero__wrapper {
  margin-top: 60px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.hero__wrapper > img {
  max-width: 60%;
  height: auto;
  align-self: flex-end;
}
@media (max-width: 768px) {
  .hero__wrapper {
    justify-content: center;
    margin-top: 30px;
  }
  .hero__wrapper > img {
    max-width: 80.5%;
    margin-left: 20%;
  }
}
@media (max-width: 425px) {
  .hero__wrapper > img {
    max-width: 260px;
    margin-left: calc(100vw - 280px);
  }
}
.hero__content {
  max-width: 39%;
  margin-bottom: 81px;
  color: #FFFFFF;
  display: flex;
  flex-direction: column;
}
.hero__content .text-l {
  margin: 42px 0;
}
.hero__content a {
  width: 208px;
}
@media (max-width: 768px) {
  .hero__content {
    max-width: 65%;
    margin-bottom: 98px;
  }
  .hero__content a {
    margin: 0 auto;
  }
}
@media (max-width: 425px) {
  .hero__content {
    max-width: 100%;
    margin-bottom: 107px;
  }
  .hero__content h2 {
    text-align: center;
  }
  .hero__content .text-l {
    text-align: center;
    margin: 41px 0;
  }
}

.about {
  background-color: #FFFFFF;
}
.about__wrapper {
  padding: 80px 0 100px;
  gap: 120px;
}
@media (max-width: 768px) {
  .about__wrapper {
    flex-direction: column-reverse;
    gap: 80px;
  }
}
@media (max-width: 425px) {
  .about__wrapper {
    padding: 42px 0;
    gap: 40px;
  }
  .about__wrapper > img {
    width: 260px;
  }
}
.about__content {
  max-width: 430px;
}
.about__content h3 {
  max-width: 370px;
  color: #545454;
}
.about__content .text-l {
  margin-top: 24px;
  color: #4C4C4C;
}
@media (max-width: 425px) {
  .about__content {
    max-width: 270px;
  }
  .about__content h3 {
    text-align: center;
  }
  .about__content > .text-l {
    margin-top: 24px;
    text-align: justify;
  }
  .about__content > .text-l:last-of-type {
    margin-top: 23px;
  }
}

.pets {
  background-color: #F6F6F6;
}
.pets h3 {
  color: #545454;
  text-align: center;
}
.pets__wrapper {
  padding: 81px 0 100px;
  gap: 59px;
}
@media (max-width: 425px) {
  .pets__wrapper {
    padding: 42px 0;
    gap: 41px;
  }
}
.pets__content {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-width: 1000px;
}
.pets__content .btn {
  flex-grow: 0;
}
@media (max-width: 1024px) {
  .pets__content {
    min-width: 730px;
  }
}
@media (max-width: 768px) {
  .pets__content {
    min-width: 600px;
  }
}
@media (max-width: 738px) {
  .pets__content {
    min-width: 90%;
    flex-wrap: wrap;
  }
  .pets__content > .btn {
    margin-top: 20px;
  }
  .pets__content > .btn:first-of-type {
    margin-left: 58px;
  }
  .pets__content > .btn:last-of-type {
    margin-right: 58px;
  }
}
@media (max-width: 425px) {
  .pets__content {
    min-width: 270px;
  }
}

.pets-card {
  gap: 31px;
  color: #545454;
  background-color: #FAFAFA;
  padding-bottom: 30px;
  border-radius: 9px;
}
.pets-card:hover {
  cursor: pointer;
  background-color: #F6F6F6;
  box-shadow: 5px 5px 20px 10px rgba(13, 13, 13, 0.04);
}
.pets-card:hover > .btn {
  border: 2px solid hsl(25, 93%, 88%);
  background-color: hsl(25, 93%, 88%);
}
.pets-card__img {
  border-radius: 9px 9px 0 0;
}

.pets-cards__wrapper {
  display: flex;
  justify-content: space-between;
  flex-grow: 1;
  margin: 0 4.5%;
}
@media (max-width: 1024px) {
  .pets-cards__wrapper {
    margin: 0 1.5%;
  }
  .pets-cards__wrapper div:last-child {
    display: none;
  }
}
@media (max-width: 738px) {
  .pets-cards__wrapper {
    order: -1;
    width: 100%;
    justify-content: center;
  }
  .pets-cards__wrapper div:nth-child(2) {
    display: none;
  }
}

.help {
  color: #545454;
  background-color: #FFFFFF;
}
.help h3 {
  max-width: 310px;
  text-align: center;
}
.help__wrapper {
  padding: 82px 0 100px;
  gap: 58px;
}
@media (max-width: 425px) {
  .help__wrapper {
    padding: 43px 0 40px;
    gap: 41px;
  }
  .help__wrapper h3 {
    max-width: 80%;
  }
  .help__wrapper .help-cards::after {
    content: "";
    width: 130px;
    height: 80px;
  }
}
.help-cards {
  gap: 120px;
  row-gap: 55px;
}
@media (max-width: 1024px) {
  .help-cards {
    gap: 90px;
    justify-content: space-between;
  }
}
@media (max-width: 768px) {
  .help-cards {
    gap: 60px;
    row-gap: 55px;
    justify-content: center;
  }
}
@media (max-width: 425px) {
  .help-cards {
    align-items: center;
    gap: 20px;
    row-gap: 29px;
    justify-content: space-around;
  }
}
.help-card {
  gap: 30px;
}
@media (max-width: 1024px) {
  .help-card {
    width: 170px;
  }
}
@media (max-width: 425px) {
  .help-card {
    width: 130px;
    gap: 22px;
  }
  .help-card > h4 {
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 400;
    line-height: 110%;
    letter-spacing: 0.06em;
  }
  .help-card > img {
    width: 50px;
    height: 50px;
  }
}

.donation {
  color: #545454;
  background-color: #F6F6F6;
}
.donation__wrapper {
  padding: 80px 0 99px;
  gap: 31px;
}
@media (max-width: 768px) {
  .donation__wrapper {
    flex-direction: column-reverse;
    gap: 60px;
  }
}
@media (max-width: 425px) {
  .donation__wrapper {
    gap: 41px;
    padding: 41px 0 42px;
  }
}
.donation__img {
  min-width: 0;
  min-height: 0;
  max-width: 100%;
  flex-shrink: 1;
}
@media (max-width: 425px) {
  .donation__img {
    max-width: 87%;
  }
}
.donation__content {
  max-width: 380px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.donation__content a {
  color: #545454;
  text-decoration: none;
}
@media (max-width: 425px) {
  .donation__content a {
    width: 94%;
  }
}
.donation__content h3 {
  max-width: 300px;
}
@media (max-width: 425px) {
  .donation__content {
    align-items: center;
  }
  .donation__content h3 {
    max-width: 210px;
    text-align: center;
  }
}
.donation__card {
  padding: 10px 15px;
  max-width: 349px;
  box-sizing: border-box;
  background-color: #F1CDB3;
  border-radius: 9px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.donation__card:hover {
  background-color: hsl(25, 93%, 88%);
}
.donation__legal {
  color: #B2B2B2;
}
@media (max-width: 425px) {
  .donation > h4 {
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 400;
    line-height: 110%;
    letter-spacing: 0.06em;
  }
  .donation h5 {
    letter-spacing: 0;
    line-height: 160%;
  }
  .donation .card__number {
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 400;
    line-height: 110%;
    letter-spacing: 0.06em;
  }
  .donation__legal {
    text-align: justify;
    max-width: 93%;
  }
}

body {
  background: url(/SHELTER/assets/images/noise_lines_transparent@2X.png), radial-gradient(100% 215.42% at 0% 0%, #5B483A 0%, #262425 100%), #211F20;
}

.logo h1 {
  color: #F1CDB3;
}
.logo p {
  color: #FFFFFF;
}

.nav__link {
  color: #CDCDCD;
}
.nav__link_active {
  color: #FFFFFF;
}
.nav__link:hover {
  color: #FFFFFF;
}/*# sourceMappingURL=main.css.map */