.btn, h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Georgia, "Times New Roman", Times, serif;
}

.subtitle,
.text-l,
.text-s,
.text-mobile-menu {
  font-family: Arial, Helvetica, sans-serif;
}

html {
  font-size: 10px;
}

h1 {
  font-size: 3.2rem;
  font-style: normal;
  font-weight: 400;
  line-height: 110%;
  letter-spacing: 0.06em;
}

.subtitle {
  font-size: 1.3rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5rem;
}

h2 {
  font-size: 4.4rem;
  font-style: normal;
  font-weight: 400;
  line-height: 130%;
}

h3 {
  font-size: 3.5rem;
  font-style: normal;
  font-weight: 400;
  line-height: 130%;
  letter-spacing: 0.06em;
}

h4 {
  font-size: 2rem;
  font-style: normal;
  font-weight: 400;
  line-height: 115%;
}

h5 {
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 400;
  line-height: 110%;
}

h6 {
  font-size: 2rem;
  font-style: normal;
  font-weight: 400;
  line-height: 100%;
  letter-spacing: 0.06em;
}

.text-l {
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 400;
  line-height: 160%;
}

.text-s {
  font-size: 1.2rem;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}

.text-mobile-menu {
  font-size: 3.2rem;
  font-style: normal;
  font-weight: 400;
  line-height: 160%;
}

.btn {
  font-size: 1.7rem;
  font-style: normal;
  font-weight: 400;
  line-height: 130%;
  letter-spacing: 0.06em;
}

* {
  margin: 0;
  padding: 0;
}

.wrapper {
  max-width: 1200px;
  margin: 0 auto;
}

.layout-2-columns {
  display: flex;
  justify-content: center;
  align-items: center;
}

.layout-column {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.header .nav {
  margin-left: auto;
}
.header .nav__list {
  padding: 0;
  list-style: none;
  display: flex;
  gap: 35px;
}
.header .nav__item {
  border-bottom: 3px solid transparent;
}
.header .nav__item_active {
  border-bottom: 3px solid hsl(25, 69%, 82%);
}
.header .nav__link {
  text-decoration: none;
}

.hero {
  background: url(/SHELTER/assets/images/noise_lines_transparent@2X.png), radial-gradient(100% 215.42% at 0% 0%, #5B483A 0%, #262425 100%), #211F20;
  padding: 60px 0 0;
}
.hero__wrapper {
  margin-top: 60px;
  gap: 42px;
  flex-wrap: wrap;
}
.hero__content {
  max-width: 460px;
  margin-bottom: 81px;
  color: #FFFFFF;
}
.hero__content .text-l {
  margin: 42px 0;
}

.about {
  margin: 80px 0 100px;
}
.about__wrapper {
  gap: 120px;
}
.about__content {
  max-width: 430px;
}
.about__content h3 {
  max-width: 370px;
}
.about__content .text-l {
  margin-top: 24px;
}

.pets {
  background-color: #F6F6F6;
}
.pets h3 {
  color: #545454;
  text-align: center;
}
.pets__wrapper {
  padding: 80px 0 100px;
  gap: 61px;
}
.pets__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 53px;
}

.cards__wrapper {
  display: flex;
  gap: 90px;
}

.logo {
  width: 186px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
.logo h1 {
  margin: 0;
}
.logo p {
  margin: 0;
  letter-spacing: 0.1em;
}

.btn {
  box-sizing: border-box;
  border: 2px solid hsl(25, 69%, 82%);
  color: #444444;
  background-color: transparent;
}
.btn-round {
  width: 52px;
  height: 52px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.btn-round_right {
  transform: rotate(180deg);
}
.btn-round__arrow {
  width: 14px;
  height: 6px;
}
.btn-rounded {
  padding: 14px 44px;
  border-radius: 100px;
}
.btn-rounded-colored {
  background-color: hsl(25, 69%, 82%);
}

.card {
  gap: 30px;
  color: #545454;
  background-color: #FAFAFA;
  padding-bottom: 30px;
  border-radius: 9px 9px 0 0;
}
.card__img {
  border-radius: 9px 9px 0 0;
}

.logo h1 {
  color: hsl(25, 69%, 82%);
}
.logo p {
  color: #FFFFFF;
}

.nav__link {
  color: #FAFAFA;
}/*# sourceMappingURL=main.css.map */