html {
  font-size: 10px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @extend %font-georgia;
}

h1 {
  @include font(3.2rem, 110%);
  color: $color-primary;
  letter-spacing: 0.06em;
}

h2 {
    @include font(4.4rem, 130%);
}

h3 {
  @include font(3.5rem, 130%);
}

h4 {
  @include font(2rem, 115%);
}

h5 {
  @include font(1.5rem, 110%);

}
