html {
  font-size: 10px;
  scroll-behavior: smooth;
}

.body{
  
  &_hidden {
    height: 100%;
    overflow: hidden;
  }
}

a {
  text-decoration: none;
  @extend %transition;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @extend %font-georgia;
}

.subtitle,
.text-l,
.text-s,
.text-mobile-menu,
.text-italic {
  @extend %font-arial;
}


h1 {
  @include font(3.2rem, 110%);
  letter-spacing: 0.06em;
}

.subtitle {
  @include font(1.3rem, 1.5rem);
}

h2 {
  @include font(4.4rem, 130%);
  @include media-mobile {
    @include font(2.5rem, 129%);
    letter-spacing: 0.06em;
  }
}

h3 {
  @include font(3.5rem, 130%);
  letter-spacing: 0.06em;
  @include media-mobile {
    @include font(2.5rem, 130%);
  }
}

h4 {
  @include font(2rem, 115%);
  letter-spacing: 0.06em;
}

h5 {
  @include font(1.5rem, 110%);
  letter-spacing: 0.06em;
}

h6 {
  @include font(2rem, 100%);
  letter-spacing: 0.06em;
}

.text-l {
  @include font(1.5rem, 160%);
}

.text-s {
  @include font(1.2rem, 150%);
}

.text-mobile-menu {
  @include font(3.2rem, 160%);
}

.text-italic {
  @include font(1.2rem, 1.8rem, 400, italic);
}

%text-btn {
  @extend %font-georgia;
  @include font(1.7rem, 130%);
  letter-spacing: 0.06em;
}
