.about {

  background-color: $color-light-xl;

  &__wrapper {
    padding: 80px 0 100px;
    gap: 120px;

    @include media-tablet {
      flex-direction: column-reverse;
      gap: 80px;
    }

    @include media-mobile {
      padding: 42px 0;
      gap: 40px;

      >img {
        width: 260px;
      }
    }
  }

  &__content {
    max-width: 430px;

    h3 {
      max-width: 370px;
      color: $color-dark-l;
    }

    .text-l {
      margin-top: 24px;
      color: $color-dark-xl;
    }

    @include media-mobile {
      max-width: 270px;

      h3 {
        text-align: center;
      }

      >.text-l {
        margin-top: 24px;
        text-align: justify;
      }
      >.text-l:last-of-type {
        margin-top: 23px;
      }
    }
  }
}