.btn {
  display: inline-block;
  box-sizing: border-box;
  border: 2px solid $color-primary;
  color: $color-dark-2xl;
  background-color: transparent;
  @extend %text-btn;
  @extend %transition;

  &:hover {
    cursor: pointer;
    border: 2px solid $color-primary-light;
  }

  &-round {
    width: 52px;
    height: 52px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;

    &:hover {
      background-color: $color-primary-light;
    }

    &_inactive {
      pointer-events: none;
      color: $color-dark-s;
      border: 2px solid $color-dark-s;
    }

    &_right {
      transform: rotate(180deg);
    }

    &__arrow {
      width: 14px;
      height: 6px;
    }
  }

  &-rounded {
    padding: 13px 43px;
    border-radius: 100px;

    &_colored {
      background-color: $color-primary;

      &:hover {
        background-color: $color-primary-light;
      }
    }
  }
}