.btn {
  box-sizing: border-box;
  border: 2px solid $color-primary;
  color: $color-dark-2xl;
  background-color: transparent;
  @extend %text-btn;
  @extend %transition;

  @media (hover: hover) {
    &:hover {
      cursor: pointer;
      border: 2px solid $color-primary-light;
    }
  }

  @media (hover: none) {
    &:active {
      border: 2px solid $color-primary-light;
    }
  }

  &-round {
    width: 52px;
    height: 52px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 1;

    @media (hover: hover) {
      &:hover {
        cursor: pointer;
        background-color: $color-primary-light;
      }
    }

    &:active {
      background-color: $color-primary-light;
    }

    &_inactive {
      pointer-events: none;
      color: $color-dark-s;
      border: 2px solid $color-dark-s;
    }

    &_right {
      transform: rotate(180deg);
    }

    &__arrow {
      padding: 23px 19px;
      width: 14px;
      height: 6px;
    }
  }

  &-rounded {
    padding: 13px 43px;
    border-radius: 100px;

    &_colored {
      background-color: $color-primary;

      @media (hover: hover) {
        &:hover {
          cursor: pointer;
          background-color: $color-primary-light;
        }
      }


      &:active {
        background-color: $color-primary-light;
      }
    }
  }
}