.card {
  gap: 31px;
  color: $color-dark-l;
  background-color: $color-light-s;
  padding-bottom: 30px;
  border-radius: 9px;
  @extend %transition;

  &:hover {
    cursor: pointer;
    background-color: $color-light-l;
    box-shadow: 5px 5px 20px 10px rgba(13, 13, 13, 0.04);

    >.btn {
      border: 2px solid $color-primary-light;
      background-color: $color-primary-light;
    }
  }

  >.btn {
    margin-top: 1px;
  }

  &__img {
    border-radius: 9px 9px 0 0;
  }
}


.slider {
  display: flex;
  justify-content: space-around;
  position: relative;
  left: 0;
  top: 0;
  min-width: 300%;
  transition: left 0.5s;
  @include desktop-s {
    min-width: 288%;
  }
  @include media-tablet {
    min-width: 302%;
  }
}

.slider__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 500px;
  flex-grow: 1;
  position: relative;
  overflow: hidden;
  @extend %transition;

  @include media-tablet-m {
    order: -1;
  }
}