.help {
  color: $color-dark-l;
  background-color: $color-light-xl;
  h3 {
    max-width: 310px;
    text-align: center;
  }

  &__wrapper {
    padding: 82px 0 100px;
    gap: 58px;
  }

  &-cards {
    gap: 120px;
    row-gap: 55px;
    @include desktop-s {
      gap: 90px;
      justify-content: space-between;
    }
    @include media-tablet {
      gap: 60px;
      row-gap: 55px;
      justify-content: center;
    }
  }

  &-card {
    gap: 30px;
    @include desktop-s {
      width: 170px;
    }
  }
}