.help {
  color: $color-dark-l;
  background-color: $color-light-xl;
  h3 {
    max-width: 310px;
    text-align: center;
  }

  &__wrapper {
    padding: 82px 0 100px;
    gap: 58px;

    @include media-mobile {
      padding: 43px 0 40px;
      gap: 41px;
      h3 {
        max-width: 80%;
      }

      .help-cards::after{
        content: "";
        width: 130px;
        height: 80px;
      }
    }
  }

  &-cards {
    gap: 120px;
    row-gap: 55px;
    @include desktop-s {
      gap: 90px;
      justify-content: space-between;
    }
    @include media-tablet {
      gap: 60px;
      row-gap: 55px;
      justify-content: center;
    }

    @include media-mobile {
      align-items: center;
      gap: 20px;
      row-gap: 29px;
      justify-content: space-around;     
    }
  }

  &-card {
    gap: 30px;
    @include desktop-s {
      width: 170px;
    }

    @include media-mobile {
      width: 130px;
      gap: 22px;
      >h4 {
        @include font(1.5rem, 110%);
        letter-spacing: 0.06em;
      }
      >img{
        width: 50px;
        height: 50px;
      }
    }
  }
}