.logo {
  width: 186px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  @extend %transition;

  h1 {
    margin: 0;
  }

  p {
    margin: 0;
    letter-spacing: 0.1em;
  }

  &:hover {
    filter: brightness(1.3);
  }
}