.pets {
  background-color: $color-light-l;

  h3 {
    color: $color-dark-l;
    text-align: center;
  }

  &__wrapper {
    padding: 81px 0 100px;
    gap: 58px;

    .btn {
      margin-top: 1px;
    }

    @include media-mobile {
      padding: 42px 0;
      gap: 40px;
      
    }
  }

  &__content {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-width: 1000px;
    @extend %transition;

    .btn {
      flex-grow: 0;
    }

    @include desktop-s {
      min-width: 730px;
    }

    @include media-tablet {
      min-width: 600px;
    }

    @include media-tablet-m {
      min-width: 90%;
      flex-wrap: wrap;

      >.btn {
        margin-top: 20px;
      }

      >.btn:first-of-type {
        margin-left: 58px;
      }

      >.btn:last-of-type {
        margin-right: 58px;
      }
    }

    @include media-mobile {
      min-width: 270px;
    }
  }

}

.pets-card {
  gap: 31px;
  color: $color-dark-l;
  background-color: $color-light-s;
  padding-bottom: 30px;
  border-radius: 9px;
  @extend %transition;

  &:hover {
    cursor: pointer;
    background-color: $color-light-l;
    box-shadow: 5px 5px 20px 10px rgba(13, 13, 13, 0.04);

    >.btn {
      border: 2px solid $color-primary-light;
      background-color: $color-primary-light;
    }
  }

  &__img {
    border-radius: 9px 9px 0 0;
  }

}

.pets-cards__wrapper {
  display: flex;
  justify-content: space-between;
  flex-grow: 1;
  margin: 0 4.5%;
  @extend %transition;

  @include desktop-s {
    margin: 0 1%;

    div:last-child {
      display: none;
    }
  }

  @include media-tablet-m {
    order: -1;
    width: 100%;
    justify-content: center;

    div:nth-child(2) {
      display: none;
    }
  }
}